{% extends "admin/base_site.html" %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Изменение покупателя{% endblock %}
        <!--Добавляем свои стили, изменяем стили django-grappelli(делаем форму на 50 
        процентов от ширины страницы
        и подгоняем под неё кнопку, добавляем стили для поля ввода номера телефона,
        так как их нет в django-grappelli)-->
    {% block extrastyle %}
    <style>
        .errorlist div {
            color: #bf3030;
            font-weight: 700;
            margin-bottom: 8px;
            margin-left: 10px;
        }
        .grp-module {
            width: 50%;
            margin-left: 430px;
        }
        #form-center {
            margin-left: 815px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .grp-row .vTextField {
            width: 630px;
        }
    </style>
    {% endblock %}
</head>
<body>
    <!--BREADCRUMBS-->
    {% block breadcrumbs %}
    <ul>
        <li><a href="{% url 'main:index' %}">Главная</a></li>
        <li><a href="{% url 'main:customers_all' %}">Покупатели</a></li>
        <li>Изменение покупателя</li>
    </ul>
    {% endblock %}
    <!--CREATE OBJECT FORM-->
    {% block content %}
    <form action="{% url 'main:customer_change' pk=customer.pk %}" method="post">
        {% csrf_token %}
        <!--Используем форму из django-grappelli-->
        <fieldset class="grp-module">
            <h2>Изменение покупателя</h2>
            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label for="customer_id">№ Покупателя</label></div>
                    <div class="c-2"><input type="number" id="customer_id" name="customer_id" class="vTextField" placeholder="Введите уникальный номер покупателя" value="{{ customer.customer_id }}" required/></div>
                </div>
            </div>
            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label for="first_name">Имя покупателя</label></div>
                    <div class="c-2"><input type="text" id="first_name" name="first_name" class="vTextField" placeholder="Введите уникальное имя покупателя" value="{{ customer.first_name }}" required/></div>
                </div>
            </div>
            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label for="last_name">Фамилия покупателя</label></div>
                    <div class="c-2"><input type="text" id="last_name" name="last_name" class="vTextField" placeholder="Введите уникальную фамилию покупателя" value="{{ customer.last_name }}" required></div>
                </div>
            </div>
            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label for="country">Страна</label></div>
                    <div class="c-2"><input type="text" id="country" name="country" class="vTextField" placeholder="Введите страну покупателя" {% if customer.country == None %} value="" {% else %} value="{{ customer.country }}" {% endif %}/></div>
                </div>
            </div>
            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label for="region">Регион</label></div>
                    <div class="c-2"><input type="text" id="region" name="region" class="vTextField" placeholder="Введите регион покупателя" {% if customer.region == None %} value="" {% else %} value="{{ customer.region }}" {% endif %}/></div>
                </div>
            </div>
            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label for="city">Город</label></div>
                    <div class="c-2"><input type="text" id="city" name="city" class="vTextField" placeholder="Введите город покупателя" {% if customer.city == None %} value="" {% else %} value="{{ customer.city }}" {% endif %}/></div>
                </div>
            </div>
            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label for="address">Адрес</label></div>
                    <div class="c-2"><input type="text" id="address" name="address" class="vTextField" placeholder="Введите адрес покупателя" {% if customer.address == None %} value="" {% else %} value="{{ customer.address }}" {% endif %}/></div>
                </div>
            </div>
            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label for="postal_code">Почтовый индекс</label></div>
                    <div class="c-2"><input type="number" id="postal_code" name="postal_code" class="vTextField" placeholder="Введите почтовый индекс покупателя" {% if customer.postal_code == None %} value="" {% else %} value="{{ customer.postal_code }}" {% endif %}/></div>
                </div>
            </div>
            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label for="phone">Номер телефона</label></div>
                    <div class="c-2"><input type="text" id="phone" name="phone" class="vTextField" placeholder="Введите номер телефона покупателя" {% if customer.phone == None %} value="" {% else %} value="{{ customer.phone }}" {% endif %}/></div>
                </div>
            </div>
            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label for="email">Электронная почта</label></div>
                    <div class="c-2"><input type="email" id="email" name="email" class="vTextField" placeholder="Введите адрес электронной почты покупателя" value="{{ customer.email }}" required/></div>
                </div>
            </div>
        </fieldset>
        <!--Используем кнопку из django-grappelli, но подгоняем её под размеры формы-->
        <input type="submit" class="grp-button grp-default" id="form-center" value="Изменить"/></li>
        {% if form.errors %}
        <div class="grp-module">
            <p class="errornote">Вы допустили ошибки:
                <div class="errorlist">
                    {% for field in form %}
                    <div>
                        {% if field.errors %}<p>{{ field.label_tag }} {{ field.errors }}</p>{% endif %}
                    </div>
                    {% endfor %}
                </ul>
            </p>
        </div>
        {% endif %}
    </form>
    {% endblock %}
</body>
</html>