<!--Расширяем базовым шаблонном от django-grappeli, загружаем статику-->
{% extends "admin/base_site.html" %}
{% load i18n static admin_modify grp_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Продавцы{% endblock %}
    <!--Добавляем свои стили(центруем значения в ячейках таблицы)-->
    {% block extrastyle %}
        <style>
            td {
                text-align: center;
            }

            #Table {
                margin-bottom: 20px;
            }
            #Table_filter {
                font-weight: bold;
                margin-right: 50px;
                margin-bottom: 40px;
            }
            #Table_filter input {
                border-radius: 20px;
            }
            #Table_length {
                font-weight: bold;
                margin-bottom: 40px;
            }
            #Table_length select {
                border-radius: 20px;
            }
            #Table_paginate {
                font-weight: bold;
                margin-right: 40px;
            }
        </style>
    {% endblock %}
    {% block extrahead %}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
        <script type="text/javascript">
        $(document).ready( function () {
            $('#Table').DataTable();
        } );
    </script>
    {% endblock %}
</head>
<body>
    <!--BREADCRUMBS-->
    {% block breadcrumbs %}
        <ul>
            <li><a href="{% url 'main:index' %}">Главная</a></li>
            <li>Продавцы</li>
        </ul>
    {% endblock %}
    {% block content_title %}
        <h1>Все продавцы</h1>
        <!--CREATE OBJECT FORM-->
        <ul class="grp-object-tools">
            {% block object-tools-items %}
                <li><a href="{% url 'main:supplier_add' %}" class="grp-add-link grp-state-focus">Добавить продавца</a></li>
            {% endblock %}
        </ul>
    {% endblock %}
    {% block content %}
        <br>
        <!--DELETE OBJECT FOR CHECKBOXES FORM-->
        <form action="{% url 'main:supplier_delete' %}" method="POST">
            {% csrf_token %}
            <!--Вывод объектов модели в виде таблицы-->
            <table id="Table" class="grp-table display" style="width: 898px; float: left;">
                <thead>
                    <tr>
                        <th></th>
                        <th>№</th>
                        <th>Название контакта</th>
                        <th>Имя контакта</th>
                        <th>Название компании</th>
                        <th>Страна</th>
                        <th>Регион</th>
                        <th>Город</th>
                        <th>Адрес</th>
                        <th>Почтовый индекс</th>
                        <th>Номер телефона</th>
                        <th>Электронная почта</th>
                        <th>Веб-сайт</th>
                    </tr>
                </thead>
                <tbody>
                    {% for supplier in suppliers %}
                        <tr class="grp-row-even">
                            <td><input type="checkbox" name="supplier_list" value="{{ supplier.supplier_id }}"></td> <!--Создание флажков для удаления-->
                            <td>{{ supplier.supplier_id }}</td>
                            <td><a href="{% url 'main:supplier_change' pk=supplier.pk %}">{{ supplier.contact_title }}</a></td> <!--EDIT OBJECT FORM-->
                            <td>{{ supplier.contact_name }}</td>
                            <td>{{ supplier.company_name }}</td>
                            <td>{{ supplier.country }}</td>
                            <td>{{ supplier.region }}</td>
                            <td>{{ supplier.city }}</td>
                            <td>{{ supplier.address }}</td>
                            <td>{{ supplier.postal_code }}</td>
                            <td>{{ supplier.phone }}</td>
                            <td>{{ supplier.email }}</td>
                            <td>{{ supplier.website }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <!--DELETE BUTTON FORM-->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="submit" class="grp-button grp-default" value="Удалить"/></li>
            </form>
        </form>
    {% endblock %}
</body>
</html>

